*{
    margin: 0;
    padding: 0;
}
body{
    background: url(mmmm.jpg) no-repeat center center fixed;
    background-size: cover;

}
.container{
    color: white;
    position: absolute;
    top: 25%;
    left: 39%;
}

.container h1{
    width: 50%;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid red;
    margin-bottom: 15px;
    padding: 13px 0;
}
.box{
    width: 100%;
    border-bottom: 2px solid red;
    margin: 22px 0px;
}
.box input{
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    
}

.box i{
    width: 25px;
    text-align: center;

}

.btn{
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding:10px 21px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    color: white;
    font-weight: bold;
}

.btn:hover{
    opacity: 0.5;
    color: purple;
    background: white;
}

.psw {
    padding-left: 13%;
}
